flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-socketio==5.3.6
eventlet==0.36.1
Pillow==10.3.0
numpy==1.26.4
opencv-python==4.9.0.80
mediapipe==0.10.14
protobuf==4.25.3
scikit-learn==1.5.0
pandas==2.2.2